body{
	background-color: #E6E6E6 !important;
}
a:focus{
	outline: none;
}
.color-accent{
	background: rgba(229,78,83, .8) !important;
	color: #fff !important;
}
.mdl-layout__header{
	background-color: #19232D !important;
}
.mdl-navigation a{
	text-transform: uppercase;
}
.mdl-navigation__link:after{
	content: '';
	display: block;
	width: 100%;
	height: 2px;
	background-color: #e54e53;
	transform: translateY(-1px) scale(0);
	transition: 0.3s;
}
.mdl-navigation__link:hover:after {
	transform: translateY(-1px) scale(1);
}
.menu-active:after{
	transform: translateY(-1px) scale(1);
}
.mdl-layout-title img{
    width: 70px;
    height: 70px;
}
.mdl-navigation__link.menu{
    text-align: center;
    font-size: 12px !important;
    padding: 16px 20px !important;
}
/*===========================  List Actors  =============================*/

 #card-actor {
	 width: 300px;
	 max-width: 320px;
	 height: 450px;
 }
.demo-card-square > .mdl-card__title {
	color: #fff;
	background-size: cover !important;
}
#actor-card__menu{
	position: unset !important;
	display: inline-block !important;
}
#actor-card__actions{
	display: flex;
	justify-content: space-between;
}
.demo-card-square{
	margin-top: 12px;
}
.mdl-card__title-text{
	width: 100%;
	height: 30px;
	background-color: rgba(0,0,0, 0.3) !important;
}
.mdl-tabs__tab:focus{
	text-decoration: none;
	border: 0;
}
.mdl-tabs.is-upgraded .mdl-tabs__tab.is-active:after{
	background: #e54e53 !important;
}
.mdl-tabs__tab .mdl-tabs__ripple-container .mdl-ripple{
	background: #e54e53 !important;
}
.mdl-button.mdl-button--colored{
	color: #e54e53 !important;
}
.mdl-spinner {
	position: absolute !important;
	width: 70px !important;
	height: 70px !important;
	z-index: 3;
	left: 45%;
}
.mdl-button--floating-action {
	position: fixed;
	right: 24px;
	bottom: 24px;
	padding-top: 24px;
	margin-bottom: 0;
	z-index: 998;
}
#btn-add-some{
	background: #e54e53 !important;
	color: white !important;
}
#btn-add-some-building{
	background: #e54e53 !important;
	color: white !important;
}
#btn-add-actor{
	background: #e54e53;
	color: #ffffff;
}
.mdl-dialog{
	width: 400px !important;
}
.select2-search__field{
    width: 290px !important;
}
#field-grade{
    margin-bottom: 15px;
	width: 88%;
}
#field-grade > textarea{
    height: 60px;
}
.file-upload{
	margin-top: 20px;
}
.names{
	color: blanchedalmond;
}

/*===========================  List Buildings  =============================*/

#card-buildings{
	width: 600px;
	max-width: 650px;
}
#building-actions-border {
	border-top: 1px solid rgba(0, 0, 0, 0.12);
}
#building-main-card{
	margin: 1% 0;
	height: 300px;
	position: relative;
}
#building-card-content{
	display: flex;
	justify-content: flex-end;
	background-size: cover;
}
#building-support-text{
	background-color: rgba(255,255,255, .5);
	box-shadow: -2px -4px 2px 0 rgba(0,0,0,.14), 6px -4px 1px -2px rgba(0,0,0,.2), -9px 5px 5px 0 rgba(0,0,0,.12);
	color: rgba(0,0,0,0.9);
}
#select-building-type{
	width: 350px;
}
.mdl-card__menu{
	z-index: 99;
}
